*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(jonatan-pie-3l3RwQdHRHg-unsplash.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    width: 500px;
    background-color: transparent;
    height: 400px;
    border: 2px solid #00ffff;
    border-radius: 10px;
    box-shadow: 0 0 20px white;
    backdrop-filter: blur(30px);
    overflow: hidden;
}

h2{
    color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;

}

input{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button{
    width: 80px;
    height: 30px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
}

